.site-head,
.page-nav,
.user-nav,
.site-nav,
.site-side {
	display:none;	
}

.powered-by {
	text-align:center;
	margin:30px 0 0 0;	
}
.site-history {
	font-size:11px;
	color:#ccc;
	margin:0 0 20px 0;
	display:block;
}
.site-content {
	margin:40px 0 0 0;	
}